{% extends 'base.html' %}
{% block content %}

<h2>My Orders 📦</h2>

{% if orders %}
    {% for order in orders %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            <p><b>Order ID:</b> {{ order.id }}</p>
            <p><b>Name:</b> {{ order.name }}</p>
            <p><b>Phone:</b> {{ order.phone }}</p>

            <ul>
            {% for item in order.orderitem_set.all %}
                <li>
                    {{ item.item.name }} × {{ item.quantity }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
<p>No orders yet ☕</p>
{% endif %}

{% endblock %}
